<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addbook</title>
</head>

<body>
    <div>
        <h1>Add Book</h1>
    </div>
    <div>
        <h2>book name</h2>
        <form action="/add" method="post"></form>
        <label for="name">Name</label>
        <input type="text",id = "book_name" name= "name">
    </div>
    <div>
        <h2>desc</h2>
        <form action="/add" method="post"></form>
        <label for="desc">desc</label>
        <input type="text",id = "desc" name= "desc">
    </div>
</body>

</html>