<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<h1>homepage</h1>
<p>Perpus</p>
<a href="">Show Book </a><br>
<a href="">Add Book</a><br>
<a href="">Delete</a><br>
</body>
</html>